In [38]:
import pandas as pd

In [39]:
annotation_df = pd.read_csv('./annotation_data/coco_annotations_socnosoc.csv')

In [51]:
nsd_stim_df = pd.read_csv('nsd_stim_info_merged.csv')

In [52]:
behavioral_info_df = pd.read_csv('../../shared/NSD/nsddata/ppdata/subj01/behav/responses.tsv', sep='\t')

In [53]:
nsd_cocoid_dict = nsd_stim_df.set_index('nsdId')['cocoId'].to_dict()

In [54]:
nsd_stim_df.columns

Index(['Unnamed: 0', 'cocoId', 'cocoSplit', 'cropBox', 'loss', 'nsdId',
       'flagged', 'BOLD5000', 'shared1000', 'subject1', 'subject2', 'subject3',
       'subject4', 'subject5', 'subject6', 'subject7', 'subject8',
       'subject1_rep0', 'subject1_rep1', 'subject1_rep2', 'subject2_rep0',
       'subject2_rep1', 'subject2_rep2', 'subject3_rep0', 'subject3_rep1',
       'subject3_rep2', 'subject4_rep0', 'subject4_rep1', 'subject4_rep2',
       'subject5_rep0', 'subject5_rep1', 'subject5_rep2', 'subject6_rep0',
       'subject6_rep1', 'subject6_rep2', 'subject7_rep0', 'subject7_rep1',
       'subject7_rep2', 'subject8_rep0', 'subject8_rep1', 'subject8_rep2'],
      dtype='object')

In [55]:
nsd_stim_total = nsd_stim_df.merge(annotation_df, how='left', left_on='cocoId', right_on='id')
nsd_stim_total.drop('id', axis=1, inplace=True)

In [50]:
nsd_stim_total

,cocoId,cocoSplit,nsdId,shared1000,Unnamed: 0,file_name,coco_url,people_coco,people,faces
0,532481,val2017,0,False,120286,000000532481.jpg,http://images.cocodataset.org/val2017/00000053...,1,1.0,0.0
1,245764,val2017,1,False,121883,000000245764.jpg,http://images.cocodataset.org/val2017/00000024...,0,0.0,0.0
2,385029,val2017,2,False,122689,000000385029.jpg,http://images.cocodataset.org/val2017/00000038...,1,1.0,0.0
3,311303,val2017,3,False,118723,000000311303.jpg,http://images.cocodataset.org/val2017/00000031...,1,1.0,0.0
4,393226,val2017,4,False,121132,000000393226.jpg,http://images.cocodataset.org/val2017/00000039...,1,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
72995,515508,train2017,72312,True,48366,000000515508.jpg,http://images.cocodataset.org/train2017/000000...,1,1.0,0.0
72996,254130,train2017,72510,True,89111,000000254130.jpg,http://images.cocodataset.org/train2017/000000...,0,0.0,0.0
72997,516634,train2017,72605,True,103301,000000516634.jpg,http://images.cocodataset.org/train2017/000000...,0,0.0,0.0
72998,304627,train2017,72719,True,45376,000000304627.jpg,http://images.cocodataset.org/train2017/000000...,0,0.0,0.0
72999,517878,train2017,72948,True,38352,000000517878.jpg,http://images.cocodataset.org/train2017/000000...,0,0.0,0.0

In [32]:
annotation_df.head()

,Unnamed: 0,id,file_name,coco_url,people_coco,people,faces
0,0,391895,000000391895.jpg,http://images.cocodataset.org/train2017/000000...,1,1.0,0.0
1,1,522418,000000522418.jpg,http://images.cocodataset.org/train2017/000000...,1,1.0,0.0
2,2,184613,000000184613.jpg,http://images.cocodataset.org/train2017/000000...,1,0.0,0.0
3,3,318219,000000318219.jpg,http://images.cocodataset.org/train2017/000000...,1,1.0,1.0
4,4,554625,000000554625.jpg,http://images.cocodataset.org/train2017/000000...,1,1.0,1.0

In [34]:
nsd_stim_df.head()

,Unnamed: 0,cocoId,cocoSplit,cropBox,loss,nsdId,flagged,BOLD5000,shared1000,subject1,...,subject5_rep2,subject6_rep0,subject6_rep1,subject6_rep2,subject7_rep0,subject7_rep1,subject7_rep2,subject8_rep0,subject8_rep1,subject8_rep2
0,0,532481,val2017,"(0, 0, 0.1671875, 0.1671875)",0.100000,0,False,False,False,0,...,0,0,0,0,0,0,0,0,0,0
1,1,245764,val2017,"(0, 0, 0.125, 0.125)",0.000000,1,False,False,False,0,...,0,0,0,0,13985,14176,28603,0,0,0
2,2,385029,val2017,"(0, 0, 0.125, 0.125)",0.000000,2,False,False,False,0,...,0,0,0,0,0,0,0,0,0,0
3,3,311303,val2017,"(0, 0, 0.16640625, 0.16640625)",0.125000,3,False,False,False,0,...,0,0,0,0,0,0,0,0,0,0
4,4,393226,val2017,"(0, 0, 0.125, 0.125)",0.133333,4,False,False,False,0,...,0,13720,22861,23023,0,0,0,0,0,0

In [31]:
# behavioral_info_df.merge(nsd_stim_df, on

In [56]:
[x for x in behavioral_info_df['73KID'].tolist() if x not in nsd_stim_df['nsdId'].tolist()]

[73000, 73000, 73000]

In [57]:
[x for x in nsd_stim_df['nsdId'].tolist() if x not in behavioral_info_df['73KID'].tolist()]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 87,
 88,
 90,
 91,
 92,
 93,
 95,
 97,
 98,
 99,
 101,
 102,
 103,
 105,
 106,
 107,
 108,
 109,
 110,
 112,
 113,
 115,
 116,
 117,
 118,
 119,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 142,
 143,
 144,
 146,
 147,
 149,
 150,
 151,
 152,
 153,
 154,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 171,
 172,
 173,
 174,
 175,
 176,
 178,
 179,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 191,
 192,
 194,
 196,
 197,
 198,
 200,
 202,
 203,
 204,
 206,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 216,
 217,
 218,
 219,
 220,
 221,
 224,
 226,
 227,
 228,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 238,
 239,
 241,
 242,
 244,
 245,
 246,
 248,
 249,
 250,
 251,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 268,
 269,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 329,
 330,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 353,
 354,
 355,
 356,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 394,
 395,
 396,
 397,
 398,
 400,
 401,
 402,
 404,
 405,
 406,
 407,
 408,
 409,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 420,
 421,
 422,
 423,
 424,
 425,
 427,
 428,
 429,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 454,
 455,
 456,
 457,
 458,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 472,
 473,
 474,
 475,
 476,
 477,
 479,
 480,
 481,
 482,
 483,
 484,
 487,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 607,
 608,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 639,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 680,
 681,
 682,
 685,
 686,
 687,
 688,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 769,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 813,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 828,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 839,
 841,
 842,
 843,
 844,
 845,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 910,
 911,
 912,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 948,
 949,
 950,
 951,
 952,
 953,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 971,
 973,
 974,
 975,
 976,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 987,
 988,
 989,
 991,
 992,
 994,
 996,
 997,
 998,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1015,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1060,
 1062,
 1063,
 1064,
 1065,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1080,
 1081,
 1082,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1130,
 1131,
 1132,
 1133,
 ...]